html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1 rem */
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
button {
  font-size: 1.6rem;
}
.option {
  color: #000000;
}
.full-width {
  width: 100%;
}
#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #232f3e;
  color: white;
  height: 70px;
  width: 100%;
  position: fixed;
}
.nav_left {
  position: relative;
  float: left;
  width: auto;
}
.nav_right {
  position: relative;
  float: right;
  width: auto;
  margin-top: 20px;
}
.nav_fill {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
}
.nav_logo a {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  padding-left: 20px;
}
.option {
  margin-left: 10px;
  margin-top: 20px;
}
.header-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  padding-right: 20px;
  font-weight: bold;
}
.header-links a:hover {
  color: #fa7900;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  background-color: #232f3e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #000000;
  font-size: larger;
}
a:hover {
  color: #fa7900;
}

/* Home Screen */
section {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#slider {
  overflow: hidden;
  padding-top: 15px;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
}
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  90% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 4rem;
  padding-top: 15px;
}
.products li {
  list-style-type: none;
  flex: 0 1 30rem;
  margin-bottom: 1rem;
  margin-left: 7rem;
  margin-right: 7rem;
  height: 45rem;
  justify-content: center;
  border-bottom: 0.005rem #000000 solid;
}
.product {
  display: flex;
  flex-direction: column;
}
.product-name {
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
}
.product-brand {
  font-size: 2rem;
  font-family: Helvetica;
  color: #000000;
  align-self: center;
  padding-bottom: 0.5rem;
}
.product-price {
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
}
.product-image {
  display: flexbox;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 30rem;
}

/* Side bar*/
.brand button {
  font-size: 2.5rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 23rem;
  background-color: #f0f0f0;
  height: 100%;
  padding-left: 15px;
}
.sidebar-list {
  font-size: 1.8rem;
}
.sidebar-list li {
  padding-bottom: 7px;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

/* Product Details */
.details {
  display: flex;
  align-items: center;
  flex: content;
}
.details-image {
  flex: content;
  padding-left: 4rem;
}
.details-image img {
  margin-top: 18px;
  border: 0.4rem #000000 solid;
  width: 120%;
  height: 120%;
}
.details-info {
  flex: 0.75;
  padding-left: 10rem;
}
.details-info ul {
  font-size: larger;
  padding-left: 10rem;
}
.details-action {
  flex: 0.35;
  margin-right: 40px;
  margin-left: 40px;
}

.details-info ul {
  list-style-type: none;
}

.details-info li {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.details-action ul {
  list-style-type: none;
  font-size: 25px;
  align-self: center;
  margin-left: 5rem;
}

.details-action li {
  margin-bottom: 0.75rem;
}

.back-to-result {
  margin-left: 4rem;
  font-size: larger;
}
.details-action {
  border: 0.1rem #000000 solid;
  border-radius: 2rem;
  background-color: #f3f3f3;
  padding: 1rem;
  font-size: large;
  width: 40rem;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f0c040;
  cursor: pointer;
  width: 40rem;
}
.button:hover {
  border: 0.1rem #440044 solid;
}
.button.primary {
  background-color: #f0c040;
}
.button.secondary {
  background-color: #f0f0f0;
}
.text-center {
  text-align: center;
}

/* Cart */
.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
  padding-right: 8rem;
}
.cart-list {
  flex: 3 8 50rem;
}
.cart-action {
  flex: 1 1 20rem;
  margin-top: 35px;
  margin-left: 0px;
  margin-right: 30px;
  background-color: #f8f8f8;
  border: 0.1rem #000000 solid;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 20px;
}
.cart-list-container {
  padding-left: 4rem;
  padding-right: 20rem;
  list-style-type: none;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 0.2rem #808080 solid;
  padding-right: 5rem;
  margin-left: 2rem;
}
.cart-list-container li img {
  max-width: 15rem;
  max-height: 15rem;
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
}
.cart-name {
  flex: 9 2;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
.product-name {
  font-size: 25px;
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.qty {
  font-size: 20px;
  padding-bottom: 1rem;
}
.button {
  width: 160px;
  color: black;
  border: 2px solid #02147c;
}
.cart-price {
  font-size: 2.5rem;
  padding-left: 10px;
  text-align: right;
}

/* forms */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

/* Products */
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content-margined {
  margin: 1rem;
}
.table {
  width: 100%;
}
th {
  text-align: center;
}
td {
  text-align: center;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Checkout Wizard */
.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 35rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

/* Place Order */
.placeorder {
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60rem;
}
.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div :first-child {
  margin-top: 0rem;
}
.placeorder-action > ul {
  padding: 0rem;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
